@import '~@angular/material/theming';



@mixin navtabs($theme) {

  @primary: map-get($theme, primary);
  @accent: map-get($theme, accent);


  .navtabs-container {
    background-color: mat-color($primary,500);
  }
}

